<!doctype html>
{% extends 'sample1.html' %}
{% block content %}
<div>
    <h1>index</h1>
    {% for line in page_obj %}

    <a href="{% url 'showdetail' line.subject %}"><b>{{line.subject}}</b> &nbsp&nbsp <b>{{line.price}}</b> &nbsp&nbsp <b>{{line.upload_date}}</b> &nbsp&nbsp</a>
    <img height="100px" width="100px" src="{{ line.image.url }}" alt="사진">
    <br>
    {% endfor %}
    <form action="{% url 'product' %}">
        {% csrf_token %}
        <input type="submit" value="글쓰기">
    </form>
    <h1>fin</h1>
</div>
<div>
    <span>
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
    </span>
    <span>
        {{ page_obj.number }}
    </span>
    <span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}

